.container {
  width: 20%;
  padding: 20px;
  margin-left: 38%;
}
.list {
}
.button {
  color: black;
  margin-left: 25%;
  padding: 10px;
}

.btn {
  border-radius: 20px;
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: black;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  background-color: #ffc506;

  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  border-radius: 20px;

  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
